.card {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid rgb(230,230,230);
  display: inline-block;
}

.shadow {
   box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.otherToolButton {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  border: 1px solid rgb(220,220,220);
  margin: 4px 8px 4px 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otherToolButton:hover {
  background-color: rgba(0,0,0,0.07);
  cursor: pointer;
}