@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-color: #f1f2f6;
}

h1 {
  color: #636e72;
  font-weight: 700px;
  font-size: 48px;
}

h2 {
  color: #636e72;
  font-family: 'Source Sans Pro';
  font-weight: 700px;
}

h4 {
  color: #636e72;
  font-family: 'Source Sans Pro';
  font-size: 16px;
}

h5 {
  color: #636e72;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
}

p {
  color: #636e72;
  font-family: 'Source Sans Pro';
}

span {
  color: #636e72;
  font-family: 'Source Sans Pro';
}